---
import { getQuickReplies } from '@/lib/quickReplies';

const quickReplies = await getQuickReplies();
---

<div id="quick-replies" class="flex overflow-x-auto gap-2 mb-3 whitespace-nowrap">
  {quickReplies.map(item => (
    <button
      id={`quick-${item.id}`}
      class="text-xs bg-white border px-3 py-1 rounded-full hover:bg-blue-50 transition"
      class:list={[
        item.type === 'symptom' 
          ? 'border-orange-300 text-orange-600' 
          : 'border-blue-300 text-blue-600'
      ]}
      data-type={item.type}
      data-id={item.id.split('-')[1]}
    >
      {item.name}
    </button>
  ))}
</div>